{% extends "base.html" %}
{% block content %}



  <h1 align="center">Learn Shit Brah!</h1>
  <p align="center">
    <a class="btn btn-lg btn-default" id="learnButton" href="{{url_for('learn_something')}}">Learn Something Today</a>
  </p>
  <p align="center">
    <a class="btn btn-lg btn-default" id="testButton" href="{{url_for('test_knowledge')}}">Test Your Knowledge</a>
  </p>
  <p align="center">
    <a class="btn btn-lg btn-default" id="settingsButton" href="{{url_for('manage_settings')}}">Manage Settings</a>
  </p>
    

{% endblock %}
