{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<!-- fill out content soon -->
<h1 align="center">{{session.subject.first().subject}}</h1>
<div class="row" align="center">
	<p align="center">
        {{ wtf.quick_form(note_form) }}
    </p>
    
    <br>
    
    <div class="row" align="center">
        <p align="center">
	   		<a class="btn btn-lg btn-default" id="doneButton" href="{{url_for('_close_learning_session', learning_session_id = session.id )}}">Done Learning</a>
	  	</p>
	</div>
</div>

{% endblock %}
