{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

<!-- fill out content soon -->
<h1 align="center">Quiz for learning session # {{ learning_session.id }}</h1>
<h1 align="center">Subject: {{ subject.subject }}</h1>
<h1 align="center">Q: {{ question.question }}?</h1>
<h2 align="center" hidden="True" id='answer'>A: {{ question.answer.first() }}?</h2>
<h3 align="center" >A: <input type="input" name="answer"></h3>
  <p align="center">
    <button class="btn btn-lg btn-default" id="checkAnswerButton" href="">Check Answer</button>
  </p>


<div class="row" align="center">
	<button class="btn btn-lg btn-danger" id="noButton" hidden="True">Wrong</button>
	<button class="btn btn-lg btn-success" id="yesButton" hidden="True">Correct!</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script> 
	$(function(){
			$("#yesButton").hide();
			$("#noButton").hide();
	});
</script>

<script> 
	$(document).ready(function(){
		$("#checkAnswerButton").click(function(){
			$("#answer").show(100);
			$("#yesButton").show(100);
			$("#noButton").show(100);
		});
	});
</script>

<script> 
	$(function(){
		$("#yesButton").click(function(){
		  	$.getJSON('/_correct_quiz_answer', {
		  		// pass that value to python function in _correct_quiz_answer
      		  {%if last_question%}
				last_question:'{{ last_question }}',
			  {%else%}
			  	last_question:'',
		  	  {%endif%}
          		question_id: '{{ question.id }}',
          		session_id: '{{ learning_session.id }}',
          		quiz_id: '{{ quiz.id }}',
          		answer: $('input[name="answer"]').val()
     		},
     		function(data){
     			var url = data.result;
     			$(location).attr('href', url);
     		});
		});
});
	
</script>
<script> 
	$(function(){
		$('button[id="noButton"]').click(function(){
		  	$.getJSON('/_incorrect_quiz_answer', {
		  		// pass that value to python function in _correct_quiz_answer
      		  {%if last_question%}
				last_question:'{{ last_question }}',
			  {%else%}
			  	last_question:'',
		  	  {%endif%}
          		question_id: '{{ question.id }}',
          		session_id: '{{ learning_session.id }}',
          		quiz_id: '{{ quiz.id }}'

     		},
     		function(data){
     			var url = data.result;
     			$(location).attr('href', url);
     		});
		});
	});
</script>


{% endblock %}